<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Day_your_heading_up_to_Tahoe %><br />
    <%= f.datetime_select :start_at, :ampm => true %>
  </div>
  <div class="field">
    <%= f.label :Day_your_heading_back_to_the_Bay %><br />
    <%= f.datetime_select :end_at, :ampm => true, :default => 2.days.from_now %>
  </div>
  <div class="field">
    <%= f.label :Number_of_guests_your_bringing %><br />
    <%= f.number_field :friends, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :Number_of_extra_seats_available_for_carpool %><br />
    <%= f.number_field :carpool_seats, :min => 0 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
